<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/goal_set" method="post">
        <input name="goal" type="text" placeholder="목표를 써주세요." required/> <input type="submit" value="완료" id="closeg">
    </form>
</body>
</html>