<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>정말 탈퇴하시겠습니까?</p>
    <form action="/users/exit" method="post">
    <button>예</button></form>
    <button onclick="location.href='http://localhost:3000/'">아니오</button>
</body>
</html>