<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="change-info">
    <h2>이름 바꾸기</h2>
    <form id="change-info-nic" action="/users/modi" method="post">
      <input name="nickname"/>
      <button id="change-button" type="submit">변경</button>
    </form>
  </div>
</div>
</body>
</html>